<br><br><br>

<div class="container">
    <div class="label d-flex justify-content-between">
        <div *ngFor="let label of labels">
            <button type="button" class="btn btn-primary" (click)="selectLabel(label)"
                [style.background]="label.labelColor">{{ label.labelName }}</button>
        </div>
    </div>
    <div>
        <p-button label="Save Annotations" styleClass="p-button-link" (click)="AddAnnotations()"></p-button>
    </div>
    <br><br>
    <div class="container" *ngIf="document">
        <p #textToSelect (mouseup)="getSelectedText($event)">
            {{ document.content}}
        </p>
    </div>
    Selected Word: {{ selectedWord }} <br>
    Start Position: {{ startPosition }} <br>
    End Position: {{ endPosition }}
    <br><br><br>
    <div class="container">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="folderSelector" webkitdirectory directory multiple>
                <label class="custom-file-label" for="folderSelector">Choose Folder</label>
            </div>
        </div>
    </div>
    
</div>