<div class="container">
    <div class="label d-flex justify-content-between mt-3 p-3">
        <div *ngFor="let label of labels">
            <button type="button" class="btn btn-primary" (click)="selectLabel(label)"
                [style.background]="label.labelColor">{{ label.labelName }}</button>

        </div>
    </div>
<div>
    
        <div class="container mt-5">
            <div class="container" *ngIf="document">
                <p-panel #pnl header="Annotate your text" styleClass="mt-4">
                    <p class="m-0" #textToSelect (mouseup)="getSelectedText($event)">
                        {{ document.content}}
                    </p>
                </p-panel>
            </div>
            <div class="container mt-5">
                <div class="d-flex flex-row-reverse">
                    <div class="p-2"> <button pButton pRipple label="Save Annotations" styleClass="pi pi-check"
                            (click)="AddAnnotations()"></button>
                    </div>
                    <div class="p-2"> <button type="button" pButton pRipple icon="pi pi-file" (click)="exportJson()"
                            class="mr-2"></button>
                    </div>
                </div>
            </div>

        </div>